Source: ros-jazzy-clearpath-generator-gz
Section: misc
Priority: optional
Maintainer: Luis Camero <lcamero@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-clearpath-generator-gz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-clearpath-config, ros-jazzy-clearpath-generator-common, ros-jazzy-cv-bridge, ros-jazzy-ptz-action-server-msgs, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-ros-workspace
Description: Clearpath Gazebo Generator
